<ActionBar flat="true" title="Activity Suggester">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>
<GridLayout>
    <FlexboxLayout class="main-container">
        <Label textWrap="true" text="Are you bored? Try to find an activity that will make you happy."></Label>
        
        <GridLayout *ngIf="activity" rows="auto, auto, auto" class="suggestion-container">
            <FlexboxLayout row="0" class="icon-container">
                <Image src="~/assets/images/activity_icons/{{ activity.type.tag }}.png"></Image>
                <Label [text]="activity.type.name" class="activity-type"></Label>
            </FlexboxLayout>
            <GridLayout row="1" rows="auto, auto, auto, auto">
                <GridLayout row="0" columns="auto, *" class="topic-container">
                    <Label col="0" text="Name:" class="topic-title"></Label>
                    <Label col="1" textWrap="true" [text]="activity.name" class="topic-value"></Label>
                </GridLayout>
                <GridLayout row="1" columns="auto, *" class="topic-container">
                    <Label col="0" text="Participants:" class="topic-title"></Label>
                    <Label col="1" textWrap="true" [text]="activity.participants" class="topic-value"></Label>
                </GridLayout>
                <GridLayout row="2" columns="auto, *" class="topic-container">
                    <Label col="0" text="Price:" class="topic-title"></Label>
                    <Label col="1" textWrap="true" [text]="activity.price" class="topic-value"></Label>
                </GridLayout>
                <GridLayout row="3" columns="auto, *" class="topic-container">
                    <Label col="0" text="Accessibility:" class="topic-title"></Label>
                    <Label col="1" textWrap="true" [text]="activity.accessibility" class="topic-value"></Label>
                </GridLayout>
            </GridLayout>
            <Button row="2" *ngIf="activity.link != null" text="Know more about" (tap)="goToActivityLink()" class=""></Button>
        </GridLayout>

        <Button [text]="activity == null ? 'Try' : 'Try again'" class="-primary"></Button>
    </FlexboxLayout>
    
    <loading-screen *ngIf="isLoading"></loading-screen>
</GridLayout>