<ActionBar flat="true" title="Activity Suggester">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>
<FlexboxLayout class="main-container">
    <GridLayout rows="auto, *, auto">
        <FlexboxLayout row="0" class="icon-container">
            <Image src="~/assets/images/activity_icons/{{ activity.type.tag }}.png"></Image>
            <Label [text]="activity.type.name" class="activity-type"></Label>
        </FlexboxLayout>
        <GridLayout row="1" rows="auto, auto, auto, auto">
            <GridLayout row="0" columns="auto, *" class="item-container">
                <Label col="0" text="Name:" class="item-title"></Label>
                <Label col="1" textWrap="true" [text]="activity.name" class="item-value"></Label>
            </GridLayout>
            <GridLayout row="1" columns="auto, *" class="item-container">
                <Label col="0" text="Participants:" class="item-title"></Label>
                <Label col="1" textWrap="true" [text]="activity.participants" class="item-value"></Label>
            </GridLayout>
            <GridLayout row="2" columns="auto, *" class="item-container">
                <Label col="0" text="Price:" class="item-title"></Label>
                <Label col="1" textWrap="true" [text]="activity.price" class="item-value"></Label>
            </GridLayout>
            <GridLayout row="3" columns="auto, *" class="item-container">
                <Label col="0" text="Accessibility:" class="item-title"></Label>
                <Label col="1" textWrap="true" [text]="activity.accessibility" class="item-value"></Label>
            </GridLayout>
        </GridLayout>
        <Button *ngIf="activity.link != null" row="2" text="More ..." class="-primary"></Button>
    </GridLayout>
</FlexboxLayout>