.main-container {
    flex-direction: column;
    margin: 3% 10%;
    justify-content: space-between;
}

.suggestion-container {
    border-width: 1;
    border-radius: 10;
    border-color: black;
    padding: 20%;
}

.icon-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

Image {
    width: 30%;
}

.activity-type {
    font-size: 18;
    font-weight: bold;
    padding: 20%;
}

.topic-container {
    padding: 3% 0%;
}

.topic-title {
    vertical-align: top;
    font-size: 16;
    font-weight: 500;
}

.topic-value {
    vertical-align: top;
    padding-left: 3%;
    font-size: 16;
}