<ActionBar flat="true" title="Image Viewer">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <ActionItem icon="font://&#xf567;" class="fas" ios.position="right" nsRouterLink="/bored-zone"></ActionItem>
</ActionBar>
<StackLayout class="main-container" (tap)="onDismissInputFieldKeyboard()">
    <Label 
        class="screen-description "
        textWrap="true" 
        text="This screen is intended to find out through images how http status codes are represented in canine language."
    ></Label>
    <Label 
        class="input-field-description" 
        text="HTTP Status Code"
    ></Label>
    <numeric-input-field 
        #numericInputField
        hint="Enter a valid status code"
        maxLength="3"
        [error]="error"
        (textChange)="newStatusCodeEntered($event)"
    ></numeric-input-field>
    <Button 
        [isEnabled]="enteredStatusCode > 99 && enteredStatusCode < 1000 && enteredStatusCode != statusCode"
        text="Search it"
        (tap)="fetchStatusCodeImage()" 
        class="-primary"
    ></Button>
    <Image *ngIf="statusCode" src="{{apiUrl}}/{{statusCode}}.jpg"></Image>
</StackLayout>